@tailwind base;
@tailwind components;
@tailwind utilities;

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #253341;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #253341 inset;
  box-shadow: 0 0 0px 1000px #0080ff inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
} */

.range-slider {
  width: 100%;
}

.slider {
  position: relative;
  height: 1px;
  background-color: #ccc;
  border-radius: 3px;
}

.progress {
  position: absolute;
  height: 100%;
  background-color: #4caf50; /* Green color for progress */
  border-radius: 3px;
}

.slider .thumb {
  width: 23px;
  height: 23px;
  cursor: grab;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #275efe;
  top: -10px;
}
.padding {
  @apply mx-5 sm:mx-12 md:mx-24 lg:mx-44 xl:mx-64 my-12;
}

.registration-left {
  @apply relative col-span-12 md:col-span-8 flex flex-col justify-center items-center m-4;
}
.registration-form {
  @apply w-full md:w-5/6 lg:w-4/6 xl:w-3/6 h-fit bg-secondary p-12 rounded-md border-2 border-primary drop-shadow-[10px_10px_0_rgba(0,0,0,1)];
}
